/*-------------- Default setup-----------------*/

*{
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body{
   overflow-x: hidden; 
}

/*------------ Cac thuoc tinh duoc su dung lại----------------*/

.button{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.button:hover,
.button:active{
    background-color: #d35400;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix{
    content: " ";
    display: table;
    clear: both;
}

h1,h2, h3{
    text-transform: uppercase;
    letter-spacing: 1px; /* khoảng cách giữa từng chữ cái với nhau*/
}

h1{
    
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px; /* khoảng cách giữa từng chữ với nhau*/
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgba(230, 126, 34, 0.5);
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    /* border-radius: 15px 15px 0px 0px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section{
    padding: 50px;
}

.small-icon{
    color: #4c88c0;
    font-size: 130%;
    margin-right:10px;

}
/*------------------ Header------------------*/
header{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(73,75,104,0.85)), url(../img/background4.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: -100px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li{
    margin-right: 30px;
    display: inline-block;  /*hiển thị các thẻ li thành hàng ngang */
}

.main-nav li a{
    color: white;
    font-size: 110%;
    font-weight: 700;
    text-decoration: none; /*bỏ đường gạch ngang dưới link*/
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cccccc;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}

/*------------Mobile nav icon-------------*/

.mobile-nav-icon{
    font-size: 200%;
    color: #6b95bd;
    position: absolute;
    top: 55px;
    right: 100px;
    opacity: 0;
}

.sticky .mobile-nav-icon{
    top: 30px;
}

/*------------Sticky-------------*/

.sticky{
    background-color: rgba(22,33,64,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    padding-bottom: 10px;
    /* height: 70px; */
}

.sticky .logo{
    width: 250px;
    margin-top: -40px;
    margin-bottom: -70px;
}

.sticky .main-nav{
    margin-top: 30px;
}

/*------------About section-------------*/

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;  /*x - y - độ mờ - độ phóng rộng - màu*/
    transition: all .7s;
}

.about-picture{
    position: relative;
    margin-top: 50px;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%, 100%);
    opacity: 0;
    transition: all .7s;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/*---------product section------------*/

.products-section{
    background-color: #f4f4f4;
}

.products-section h2{
    margin-bottom: 60px;
}

.product-box{
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0;
    width: 90%;
    height: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.product-price{
    color: #265077;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}

.product-price span{
    font-size: 80%;
}

.product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .button{
    margin-left: 20%;
}

/*---------------testimonials section-----------*/

.testimonials-section{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(73,75,104,0.85)), url(../img/background2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.testimonials-section h2{
    margin-bottom: 70px;
}

blockquote{
    position: relative;
    width: 95%;
    font-style: italic;
    line-height: 140%;
    color: white;
}

blockquote::before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}

cite{
    display: block;
    color: rgb(179, 181, 211);
    margin-top: 25px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 10px;
}

/*----------------Sponsor section-------------*/

.sponsors-section{
    background-color: #f4f4f4;
}

.sponsors-section h2{
    margin-bottom: 50px;
}

.sponsors-showcase{
    margin-left: 8%;
}

.sponsors-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.img-sponsor{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
    cursor: pointer;
    transition: all .3s;
}

figcaption{
    color: #265077;
    font-weight: 900;
    font-size: 120%;
}
.sponsors-showcase li .img-sponsor:hover,
.sponsors-showcase li .img-sponsor:active{
    transform: scale(1.2);
    cursor: pointer;
}

/*----------------contact section-------------*/

.contact-section{
    background-image: linear-gradient(45deg,rgba(2,33,64,0.8) 55%,rgba(73,75,104,0.85)), url(../img/background5.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;

}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}

.social-icon{
    margin-top: 50px;
    list-style: none;
}

.social-icon li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}

.social-icon li i{
    transition: all .3s;
    cursor: pointer;
}

.social-icon li:hover,
.social-icon li:active{
    transform: scale(1.3);
    color: #e67e22;
}

/*----------------form-------------*/

form{
    background-color: rgba(0,0,0,0.4);
    margin-left: 40%;
    width: 68%;
    padding: 20px;
    padding: 30px;
    margin-bottom: 40px;
}

form .row{
    margin-bottom: 20px;
}

label{
    font-size: 150%;
    color: white;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(70, 58, 58, 0.7);
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

textarea{
    resize: none;
    height: 100px;
    font-family: 'Lato', sans-serif;
}

input{
    height: 50px;
}

input[type=text], input[type=email], textarea{
    width: 80%;
    font-size: 100%;
} 

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    color: white;
    background-color: rgba(48, 47, 47, 0.8);
}

form .row:last-child{
    text-align: center;
}

input[type=submit]{
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    width: 60%;
}
/*----------------footer-------------*/

footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}
